{% extends 'base.html' %}

{% load static %}

{% block content %}
{% verbatim %}
<div class="container" ng-app="formBuilder" ng-cloak>
    <div class="row">
        <div class="col-md-12" ng-controller="formBuilderController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Add form</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <input type="text" class="form-control" ng-model="form.title" required placeholder="ex. Order form">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input type="text" class="form-control" ng-model="form.description" placeholder="Optional description">
                    </div>
                    <div class="form-designer">
                        <form-builder form="form.schema"></form-builder>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/" class="btn btn-default">
                                Cancel
                            </a>
                            <button class="btn btn-primary" ng-click="saveFormBtn()">
                                <i class="fa fa-check"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/form-builder.js' %}"></script>
{% endblock %}